// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/* universal */

body {
    font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */

.navbar-static-top {
    border-color: #e7e7e7;
    background-color: #fff;
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 4px solid #00b5ad;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 40px;
    margin-top: 0px;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #000;

    .container {
        padding-right: 15px;
        padding-left: 15px;

        p {
            margin: 19px 0;
            color: #c1c1c1;

            a {
                color: inherit;
            }
        }
    }
}

/* User gravatar */

section.user_info {
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    .gravatar {
        float: none;
        max-width: 70px;
    }
    h1 {
        font-size: 1.4em;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 15px;
    }
    h2 {
        margin-top: 10px;
        margin-bottom: 3px;
        a {
            color: #444;
            font-size: 0.9em;
            &:hover {
                color: #222;
            }
        }
    }
}

.gravatar {
    float: left;
    max-width: 50px;
    border-radius: 50%;
}

/* Users edit */

.gravatar_edit {
    margin: 15px auto;
    text-align: center;
    .gravatar {
        float: none;
        max-width: 100px;
    }
}

/* Shared stats */
.stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a {
        float: left;
        padding: 0 10px;
        text-align: center;
        width: 33%;
        border-left: 1px solid #eee;
        color: #33383c;
        &:first-child {
            padding-left: 0;
            border: 0;
        }
        &:hover {
            text-decoration: none;
            color: #337ab7;
        }
    }
    strong {
        display: block;
        font-size: 1.2em;
        color: #000;
    }
}


/* User register page */
.signup-page {
    img.captcha {
        cursor: pointer;
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 3px;
    }
}

/* Topic Index Page */
.topics-index-page {
    .topic-list {
        .nav > li > a {
            position: relative;
            display: block;
            padding: 5px 14px;
            font-size: 0.9em;
        }

        a {
            color: #444444;
        }

        .meta {
            font-size: 0.9em;
            color: #b3b3b3;

            a {
                color: #b3b3b3;
            }
        }

        .badge {
            background-color: #d8d8d8;
        }

        hr {
            margin-top: 12px;
            margin-bottom: 12px;
            border: 0;
            border-top: 1px solid #dcebf5;
        }
    }
}

/* Add container and footer space */
#app > div.container {
    margin-bottom: 100px;
}
