{extend name="../resources/layouts/layout.html" /}
{block name="title"}
    主页
{/block}
{block name="content"}
    <div class="jumbotron">
        <h1>Hello ThinkPHP</h1>
        <p class="lead">
            你现在看到的是 ThinkPHP 版 <a href="https://learnku.com/courses/laravel-essential-training">Laravel 入门教程</a> 的示例项目主页。
        </p>
        <p>
            一切，将从这里开始。
        </p>
        <p>
            <a class="btn btn-lg btn-success" href="#" role="button">现在注册</a>
        </p>
    </div>
{/block}