{if count($topics) > 0}
    <ul class="list-unstyled">
        {foreach $topics as $key => $topic}
            <li class="media">

                <div class="media-left">
                    <a href="{:url('users.read', ['id'=>$topic->user_id])}">
                        <img src="{$topic->user->avatar}" alt="{$topic->user->name}" class="media-object img-thumbnail mr-3" style="width: 52px; height: 52px;">
                    </a>
                </div>

                <div class="media-body">
                    <div class="media-heading mt-0 mb-1">
                        <a href="{:url('topics.read', ['id'=>$topic->id])}" title="{$topic->title}">
                            {$topic->title}
                        </a>
                        <a href="{:url('topics.read', ['id'=>$topic->id])}" class="float-right">
                            <span class="badge badge-secondary badge-pill"> {$topic->reply_count} </span>
                        </a>
                    </div>

                    <small class="media-body meta text-secondary">

                        <a href="{:url('categories.read', ['id'=>$topic->category_id])}" class="text-secondary" title="{$topic->category->name}">
                            <i class="far fa-folder"></i>
                            {$topic->category->name}
                        </a>

                        <span> • </span>

                        <a href="{:url('users.read', ['id'=>$topic->user_id])}" class="text-secondary" title="{$topic->user->name}">
                            <i class="far fa-user"></i>
                            {$topic->user->name}
                        </a>

                        <span> • </span>
                        <i class="far fa-clock"></i>

                        <span class="timeago" title="最后回复于：{$topic->update_time}">
                            {:Carbon\\Carbon::parse($topic->update_time)->locale(config('default_lang'))->diffForHumans()}
                        </span>
                    </small>

                </div>
            </li>
            {if ($key != count($topics) - 1)}
                <hr>
            {/if}
        {/foreach}
    </ul>
{else}
    <div class="empty-block">
        暂无数据~_~
    </div>
{/if}
