{extend name="../resources/views/layouts/layout.html" /}
{block name="styles"}
    {load href="/css/simditor.css" /}
{/block}
{block name="scripts"}
    {load href="/js/module.js"}
    {js href="/js/hotkeys.js"}
    {js href="/js/uploader.js"}
    {js href="/js/simditor.js"}
    <script>
        $(document).ready(function () {
            var editor = new Simditor({
                textarea: $('#editor'),
                upload: {
                    url: '{:url("topics.upload_image")}',
                    params: {
                        _token: '{:token()}'
                    },
                    fileKey: 'upload_file',
                    connectionCount: 3,
                    leaveConfirm: '文件上传中，关闭此页面将取消上传。'
                },
                pasteImage: true,
            });
        });
    </script>
{/block}
{block name="title"}
    {if isset($topic->id)}
        编辑帖子
    {else}
        发布帖子
    {/if}

{/block}
{block name="content"}
    <div class="container">
        <div class="col-md-10 offset-md-1">
            <div class="card">

                <div class="card-body">
                    <h2>
                        <i class="far fa-edit"></i>
                        {if isset($topic->id)}
                            编辑帖子
                        {else}
                            新帖子
                        {/if}
                    </h2>

                    <hr>

                {if isset($topic->id)}
                    <form action="{:url('topics.update', ['id'=>$topic->id])}" method="POST" accept-charset="UTF-8">
                        <input type="hidden" name="_method" value="PATCH">
                {else}
                    <form action="{:url('topics.save')}" method="POST" accept-charset="UTF-8">
                {/if}

                        {:token()}
                        {include file="../resources/views/shared/_error.html"}

                        <div class="form-group">
                            <input type="text" class="form-control" name="title" value="{:old('title') ?: $topic->title ?? ''}" placeholder="请填写帖子标题"/>
                        </div>

                        <div class="form-group">
                            <select name="category_id" id="category_id" class="form-control">
                                <option value="" hidden disabled {:isset($topic) && $topic->id ? '' : 'selected'}>请选择帖子分类</option>
                                {foreach $categories as $key => $category}
                                    <option value="{$category->id}" {:isset($topic) && $topic->category_id == $category->id ? 'selected' : ''}>
                                        {$category->name}
                                    </option>
                                {/foreach}
                            </select>
                        </div>

                        <div class="form-group">
                            <textarea name="body" id="editor" rows="6" placeholder="请输入至少三个字符的内容。" class="form-control">{:old('body') ?: $topic->body ?? ''}</textarea>
                        </div>

                        <div class="well well-sm">
                            <button type="submit" class="btn btn-primary">
                                <i class="far fa-save mr-2" aria-hidden="true"></i> 保存
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{/block}
