{extend name="../resources/views/layouts/layout.html" /}
{block name="title"}{$topic->title}{/block}
{block name="description"}{$topic->excerpt}{/block}
{block name="content"}
    <div class="row">

        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs author-info">
            <div class="card">
                <div class="card-body">
                    <div class="center">
                        作者：{$topic->user->name}
                    </div>
                    <hr>
                    <div class="media">
                        <div align="center">
                            <a href="{:url('users.read', ['id'=>$topic->user_id])}">
                                <img src="{$topic->user->avatar}" alt="{$topic->user->name}" class="thumbnail img-fluid" style="width: 300px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 topic-content">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center mt-3 mb-3">
                        {$topic->title}
                    </h1>
                    <div class="text-center article-meta text-secondary">
                        {:Carbon\\Carbon::parse($topic->create_time)->locale(config('default_lang'))->diffForHumans()}
                        ·
                        <i class="far fa-comment"></i>
                        {$topic->reply_count}
                    </div>
                    <div class="topic-body mt-4 mb-4">
                        {$topic->body|raw}
                    </div>
                    <div class="operate">
                        <hr>
                        {if app\common\facade\Auth::authorize('update', $topic, 'Topic')}
                            <a href="{:url('topics.edit', ['id'=>$topic->id])}" class="btn btn-outline-secondary btn-sm" role="button">
                                <i class="far fa-edit"></i> 编辑
                            </a>
                        {/if}
                        {if app\common\facade\Auth::authorize('delete', $topic, 'Topic')}
                            <form action="{:url('topics.delete', ['id'=>$topic->id])}" method="post" style="display: inline-block;" onsubmit="return confirm('确定要删除这个帖子吗？');">
                                {:token()}
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-outline-secondary btn-sm">
                                    <i class="far fa-trash-alt"></i> 删除
                                </button>
                            </form>
                        {/if}
                    </div>
                </div>
            </div>

            <!-- 用户回帖列表 -->
            <div class="card topic-reply mt-4">
                <div class="card-body">
                    {include file="../application/forums/view/replies/_box.html"}
                    {include file="../application/forums/view/replies/_list.html"}
                </div>
            </div>
        </div>
        

    </div>
{/block}
