<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {block name="title"}
            标题
        {/block}
    </title>
</head>
<body>
    {include file="../resources/layouts/_header.html"}
    <div class="container">
        {block name="content"}{/block}
        {include file="../resources/layouts/_footer.html"}
    </div>
</body>
</html>