<li class="media mt-4 mb-4">
    <a href="{:url('users.read', ['id'=>$user->id])}">
        <img src="{:$user->gravatar()}" alt="{$user->name}" class="mr-3 gravatar"/>
    </a>
    <div class="media-body">
        <h5 class="mt-0 mb-1">
            {$user->name} <small> / {php}echo Carbon\Carbon::parse($status->create_time)->locale(config('default_lang'))->diffForHumans(){/php}</small>
        </h5>
        {$status->content}
    </div>
    {if condition="app\common\facade\Auth::status('delete', $status)"}
        <form action="{:url('statuses.delete', ['id'=>$status->id])}" method="POST" onsubmit="return confirm('您确定要删除这条微博吗？');">
            <input type="hidden" name="_method" value="DELETE">
            {:token()}
            <button type="submit" class="btn btn-sm btn-danger">
                删除
            </button>
        </form>
    {/if}
</li>
