{extend name="../resources/views/layouts/layout.html" /}
{block name="title"}
    欢迎新用户{__block__}
{/block}
{block name="content"}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5>{:lang('Register')}</h5>
                    </div>
                    <div class="card-body">
                        {include file="../resources/views/shared/_error.html"}
                        <form action="{:url('users.save')}" method="POST">
                            {:token()}

                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">{:lang('Name')}：</label>
                                <div class="col-md-6">
                                    <input type="text" name="name" id="name" class="form-control{php}echo Session::has('errors.name') ? ' is-invalid' : '';{/php}" value="{:Session::get('forms.name')}">
                                    {if condition="Session::has('errors.name')"}
                                        <span class="invalid-feedback" role="alert">
                                            <strong>
                                                {:Session::get('errors.name')}
                                            </strong>
                                        </span>
                                    {/if}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">{:lang('E-Mail Address')}：</label>
                                <div class="col-md-6">
                                    <input type="text" name="email" id="email" class="form-control{php}echo Session::has('errors.email') ? ' is-invalid' : '';{/php}" value="{:Session::get('forms.email')}">
                                    {if condition="Session::has('errors.email')"}
                                        <span class="invalid-feedback" role="alert">
                                            <strong>
                                                {:Session::get('errors.email')}
                                            </strong>
                                        </span>
                                    {/if}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">{:lang('Password')}：</label>
                                <div class="col-md-6">
                                    <input type="password" name="password" id="password" class="form-control{php}echo Session::has('errors.password') ? ' is-invalid' : '';{/php}" value="{:Session::get('forms.password')}">
                                    {if condition="Session::has('errors.password')"}
                                        <span class="invalid-feedback" role="alert">
                                            <strong>
                                                {:Session::get('errors.password')}
                                            </strong>
                                        </span>
                                    {/if}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password_confirm" class="col-md-4 col-form-label text-md-right">{:lang('Confirm Password')}：</label>
                                <div class="col-md-6">
                                    <input type="password" name="password_confirm" id="password_confirm" class="form-control" value="{:Session::get('forms.password_confirm')}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="captcha" class="col-md-4 col-form-label text-md-right">{:lang('Captcha')}：</label>
                                <div class="col-md-6">
                                    <input type="text" name="captcha" id="captcha" class="form-control{php}echo Session::has('errors.captcha') ? ' is-invalid' : '';{/php}">
                                    <img class="thumbnail captcha mt-3 mb-2" src="{:captcha_src()}" title="点击图片重新获取验证码" onclick="this.src=this.src+'?'" />
                                    {if condition="Session::has('errors.captcha')"}
                                        <span class="invalid-feedback" role="alert">
                                            <strong>
                                                {:Session::get('errors.captcha')}
                                            </strong>
                                        </span>
                                    {/if}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">{:lang('Register')}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{/block}
