{extend name="../resources/views/layouts/layout.html" /}
{block name="title"}
    欢迎新用户{__block__}
{/block}
{block name="content"}
    <div class="offset-md-2 col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>{:lang('Register')}</h5>
            </div>
            <div class="card-body">
                {include file="../resources/views/shared/_error.html"}
                <form action="{:url('users.save')}" method="POST">
                    {:token()}
                    <div class="form-group">
                        <label for="name">{:lang('Name')}：</label>
                        <input type="text" name="name" class="form-control" value="{:Session::get('forms.name')}">
                    </div>
                    <div class="form-group">
                        <label for="email">{:lang('E-Mail Address')}：</label>
                        <input type="text" name="email" class="form-control" value="{:Session::get('forms.email')}">
                    </div>
                    <div class="form-group">
                        <label for="password">{:lang('Password')}：</label>
                        <input type="password" name="password" class="form-control" value="{:Session::get('forms.password')}">
                    </div>
                    <div class="form-group">
                        <label for="password_confirm">{:lang('Confirm Password')}：</label>
                        <input type="password" name="password_confirm" class="form-control" value="{:Session::get('forms.passsword_confirm')}">
                    </div>
                    <div class="form-group">
                        <label for="captcha">{:lang('Captcha')}：</label>
                        <input type="text" name="captcha" class="form-control" value="{:Session::get('forms.captcha')}">
                        </br>
                        <img src="{:captcha_src()}" alt="captcha" onclick="this.src=this.src+'?'" />
                    </div>
                    <button type="submit" class="btn btn-primary">{:lang('Register')}</button>
                </form>
            </div>
        </div>
    </div>
{/block}
