{extend name="../resources/views/layouts/layout.html" /}
{block name="title"}
    更新个人资料{__block__}
{/block}
{block name="content"}
    <div class="offset-md-2 col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>更新个人资料</h5>
            </div>
            <div class="card-body">
                {include file="../resources/views/shared/_error.html"}
                <div class="gravatar_edit">
                    <a href="https://gravatar.com/emails" target="_blank">
                        <img src="{$user->gravatar('200')}" alt="{$user->name}" class="gravatar" />
                    </a>
                </div>

                <form method="POST" action="{:url('users.update', ['id'=>$user->id])}">
                    <input type="hidden" name="_method" value="PATCH" >
                    {:token()}

                    <div class="form-group">
                        <label for="name">{:lang('Name')}：</label>
                        <input type="text" name="name" class="form-control" value="{$user->name}">
                    </div>

                    <div class="form-group">
                        <label for="email">{:lang('E-Mail Address')}：</label>
                        <input type="text" name="email" class="form-control" value="{$user->email}" disabled>
                    </div>

                    <div class="form-group">
                        <label for="password">{:lang('Password')}：</label>
                        <input type="password" name="password" class="form-control" value="{:session('forms.password')}">
                    </div>

                    <div class="form-group">
                        <label for="password_confirmation">{:lang('Confirm Password')}：</label>
                        <input type="password" name="password_confirm" class="form-control" value="{:session('forms.password_confirm')}">
                    </div>

                    <button type="submit" class="btn btn-primary">更新</button>
                </form>

            </div>
        </div>
    </div>
{/block}
