{extend name="../resources/views/layouts/layout.html" /}
{block name="title"}
    {$title}
{/block}
{block name="content"}
    <div class="offset-md-2 col-md-8">
        <h2 class="mb-4 text-center">
            {$title}
        </h2>
        {if condition="$users->count() > 0"}
            <div class="list-group list-group-flush">
                {volist name="users" id="user"}
                    <div class="list-group-item">
                        <img src="{$user->gravatar()}" alt="{$user->name}" width="32">
                        <a href="{:url('users.read', ['id'=>$user->id])}">
                            {$user->name}
                        </a>
                    </div>
                {/volist}
            </div>
            <div class="mt-3">
                {$users|raw}
            </div>
        {else}
            <p>空空如也～</p>
        {/if}
    </div>
{/block}