{extend name="../resources/views/layouts/layout.html" /}
{block name="title"}
    {:$user->name}的主页{__block__}
{/block}
{block name="content"}
    <div class="row">
        <div class="offset-md-2 col-md-8">
            {include file="../resources/views/shared/_error.html"}
            <section class="user_info">
                {include file="../resources/views/shared/_user_info.html"}
            </section>
            {if condition="app\common\facade\Auth::isLoggedIn()"}
                {include file="../application/index/view/users/_follow_form.html"}
            {/if}
            <section class="stats mt-2">
                {include file="../resources/views/shared/_stats.html"}
            </section>
            <hr>
            <section>
                {if condition="$statuses->count() > 0"}
                    <ul class="list-unstyled">
                        {volist name="statuses" id="status"}
                            {include file="../application/status/view/statuses/_status.html"}
                        {/volist}
                    </ul>
                    <div class="mt-5">
                        {$statuses|raw}
                    </div>
                {else}
                    <p>没有数据！</p>
                {/if}
            </section>
        </div>
    </div>
{/block}
