<!--
 * @Author: doderick
 * @Date: 2019-12-15 18:57:14
 * @LastEditTime : 2020-01-12 00:27:54
 * @LastEditors  : doderick
 * @Description: 底部导航
 -->
<footer class="footer">
    <div class="container">
        <p class="float-left">
            由 <a href="https://github.com/doderick" target="_blank">doderick</a> 编码完成 <span style="color: #e27575;font-size: 14px;">❤</span>
        </p>
        <p class="float-right">
            <a href="mailto:doderick@outlook.com">
                请联系我
            </a>
        </p>
    </div>
</footer>
