<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
    <div class="container">
        <!-- Branding Image -->
        <a class="navbar-brand" href="{:url('topics.index')}">
            BBS
        </a>
        <a class="navbar-brand" href="{:url('status')}">
            动态
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- left Side Of Navbar -->
            <ul class="navbar-nav mr-auto">

            </ul>

            <!-- right Side Of Navbar -->
            <ul class="navbar-nav ml-auto">
                <!-- Authentication Links -->
                {if !app\common\facade\Auth::isLoggedIn()}
                    <li class="nav-item">
                    <a class="nav-link" href="{:url('login')}">
                        登录
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{:url('signup')}">
                        注册
                    </a>
                    </li>
                {else /}
                    <li class="nav-item">
                        <a class="nav-link mt-2" href="{:url('users.index')}">用户列表</a>
                    </li>
                    <li class="nav-item">
                        <a href="{:url('topics.create')}" class="nav-link mt-2 mr-2 font-weight-bold">
                            <i class="fa fa-plus"></i>
                        </a>
                    </li>
                    <li class="nav-item notification-badge">
                        <a href="{:url('notifications.index')}" class="nav-link mr-3 badge badge-pill badge-{:app\\common\\facade\\Auth::user()->notification_count > 0 ? 'hint' : 'secondary' } text-white">
                            {:app\\common\\facade\\Auth::user()->notification_count}
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{:app\\common\\facade\\Auth::user()->avatar}" class="img-responsive img-circle" width="30px" height="30px">
                            {:app\\common\\facade\\Auth::user()->name}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="{:url('users.read', ['id'=>app\\common\\facade\\Auth::user()->id])}" class="dropdown-item">
                                <i class="far fa-user mr-2"></i>
                                个人中心
                            </a>
                            <a href="{:url('users.edit', ['id'=>app\\common\\facade\\Auth::user()->id])}" class="dropdown-item">
                                <i class="far fa-edit mr-2"></i>
                                编辑资料
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item" id="logout">
                                <form action="{:url('logout')}" method="POST" onsubmit="return confirm('您确定要退出吗？');">
                                    {:token()}
                                    <input type="hidden" name="_method" value="DELETE" >
                                    <button class="btn btn-block btn-danger" type="submit" name="button">退出</button>
                                </form>
                            </a>
                        </div>
                    </li>
                {/if}
            </ul>
        </div>
    </div>
</nav>
