<!DOCTYPE html>
<html lang="{:config('app.default_lang')}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{:$Request.token}">

    <link rel="stylesheet" href="{:mix('css/app.css')}">

    {block name="styles"}{/block}

    <title>
        {block name="title"}
            - 进阶
        {/block}
    </title>
</head>

<body>

    <div id="app" class="{:route_class()}-page">

        {include file="../resources/views/layouts/_header.html"}

        <div class="container">
            {include file="../resources/views/shared/_messages.html"}
            {block name="content"}{/block}
        </div>

        {include file="../resources/views/layouts/_footer.html"}

    </div>

    <script src="{:mix('js/app.js')}"></script>

    {block name="scripts"}{/block}

</body>

</html>
